.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
/* header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 20vh;
  background-color: #55c1ff;

} */

.some{
  display:flex;
  justify-content: center;
}
.picture-content{
  border: solid 2px rgba(0,0,0,0.5);
  padding: 20px;
  position:relative;
margin-top: 5%;
width:70vw;
height: 70vh;
background-color:rgba(99, 183, 238, 0.5);
box-shadow: 10px 10px 5px #aaaaaa;
border-radius: 12px;
}
.horizontal-images{
  position:absolute;
  top:80px;
  right:100px;
  display:flex;
  flex-wrap:wrap;
  width: 400px;
  height: 400px;
}
.horizontal-images img{
  border: solid 2px black;
  margin: 2px;
}

.image-display{
  width: 100px;
}

.carousal-self-item img{
  border: solid 10px white;
}
